:root {
  background-color: #282c34;
  text-align: center;
  color: white;
}

.app {
  font-weight: 100;
}

.plot {
  background-color: #ffffffde;
}


.buttonWrapper {
  display: flex;
  gap: 3px;
  flex-direction: row;
  justify-content: center;
}

.button {
  color: white;
  background-color: rgba(0, 255, 255, 0.51);
  border: 1px solid #61dafb;
  border-radius: 6px;
  cursor: pointer;
}

.models {
  color: white;
  background-color: rgba(0, 255, 255, 0.51);
  border: 1px solid #61dafb;
  border-radius: 6px;
  cursor: pointer;
}

.units {
  color: white;
  background-color: rgba(0, 255, 255, 0.51);
  border: 1px solid #61dafb;
  border-radius: 6px;
  cursor: pointer;
}

.epochs {
  color: white;
  background-color: rgba(0, 255, 255, 0.51);
  border: 1px solid #61dafb;
  border-radius: 6px;
  cursor: pointer;
}

.prediction {
  font-size: larger;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
